<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.servicecommon.dao.UserDao">
    <resultMap id="userMap" type="HashMap">
        <result column="name" property="name"/>
        <result column="password" property="password"/>
    </resultMap>
    <select id="countUser" resultType="Integer">
    select count(id) from `user`
    </select>
    <select id="findByName" parameterType="String" resultMap="userMap">
        select `name`, password from `user` WHERE `name` = #{userName}
    </select>
</mapper>
